{% extends 'base.html' %}

{% block content %}
{% include 'parciais/_messages.html' %}

    <div class="d-flex p-2 justify-content-center mb-2"><h1>AGENDA PFC DE {{mes_escolhido}}</h1></div>
    {% for trilha, dados in trilhas_com_cursos.items %}
        <div class="d-flex align-items-center mb-2">
            <div style="width: 30px; height: 30px; border-radius: 50%; background-color: {{ dados.cor_circulo }}; margin-right: 10px;"></div>
            <h2 style="color: {{ dados.cor_circulo }}">{{ trilha.nome }}</h2>
        </div>
        <div class="content pb-5">
        {% if dados.curadorias %}
        <table style="width: 100%; border-collapse: collapse; border: 2px solid white;">
            <tr style="background-color: {{ dados.cor_circulo }};">
                <th style="width: 55%; border: 2px solid white; color: white; text-align: center;">Curadoria</th>
                <th style="width: 10%; border: 2px solid white; color: white; text-align: center;">Link</th>
                <th style="width: 5%; border: 2px solid white; color: white; text-align: center;">CH</th>
                <th style="width: 10%; border: 2px solid white; color: white; text-align: center;">Modalidade</th>
                <th style="width: 20%; border: 2px solid white; color: white; text-align: center;">Promotor</th>
            </tr>
            {% for curadoria in dados.curadorias %}
            <tr style="background-color: {{ dados.fundo_tabela }};">
                <td style="border: 2px solid white; text-align: center;">{{ curadoria.nome_curso }}</td>
                <td style="border: 2px solid white; text-align: center;"><a href="{{ curadoria.link_inscricao }}">Inscrição</a></td>
                <td style="border: 2px solid white; text-align: center;">{{ curadoria.carga_horaria_total }}</td>
                <td style="border: 2px solid white; text-align: center;">{{ curadoria.modalidade.nome }}</td>
                {% if curadoria.instituicao_promotora %}
                    <td style="border: 2px solid white; text-align: center;">{{ curadoria.instituicao_promotora.nome }}</td>
                {% else %}
                    <td style="border: 2px solid white; text-align: center;">{{ '' }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if dados.cursos %}
        <table style="width: 100%; border-collapse: collapse; border: 2px solid white;">
            <tr style="background-color: {{ dados.cor_circulo }};">
                <th style="width: 55%; border: 2px solid white; color: white; text-align: center;">PFC</th>
                <th style="width: 10%; border: 2px solid white; color: white; text-align: center;">Link</th>
                <th style="width: 5%; border: 2px solid white; color: white; text-align: center;">CH</th>
                <th style="width: 10%; border: 2px solid white; color: white; text-align: center;">Modalidade</th>
                <th style="width: 20%; border: 2px solid white; color: white; text-align: center;">Período</th>
            </tr>
            {% for curso in dados.cursos %}
            <tr style="background-color: {{ dados.fundo_tabela }};">
                <td style="border: 2px solid white; text-align: center;">{{ curso.nome_curso }}</td>
                <td style="border: 2px solid white; text-align: center;"><a href="https://www.pfc.seplag.pe.gov.br/curso_detail/{{ curso.id }}">Inscrição</a></td>
                <td style="border: 2px solid white; text-align: center;">{{ curso.ch_curso }}</td>
                <td style="border: 2px solid white; text-align: center;">{{ curso.modalidade.nome }}</td>
                <td style="border: 2px solid white; text-align: center;">de {{ curso.data_inicio|date:"d/m/Y" }} a {{ curso.data_termino|date:"d/m/Y" }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        </div>
    {% endfor %}
{% endblock %}
