{% extends 'base.html' %}


{% block content %}
{% include 'parciais/_messages.html' %}
    <div class="d-flex p-2 justify-content-center mb-4"><h1>MINHA CARGA HORÁRIA</h1></div>
    <form method="GET" action="" class="row g-3">
        {% csrf_token %}
        
        <div class="col-md-3 form-floating mb-3">
            
            <input type="date" class="form-control" name="data_inicio"  id="id_data_inicio" value="{{ values.data_inicio }}">
            <label for="id_data_inicio" >De</label>
        </div>
        <div class="col-md-3 col-md-3 form-floating mb-3">
            
            <input type="date" class="form-control" name="data_fim"  id="id_data_fim" value="{{ values.data_fim }}">
            <label for="{{ form.data_fim.id_for_label }}" >Até</label>
            
        </div>
        <div class="col-md-3 form-floating mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Filtrar por Término do Curso</button>
        </div>
    </form>
    <div class="row d-flex">
        <div class="col-md-5 col-12 mb-3 mr-3">
            <div class="card">
                <h4 class="card-header text-center">{{ carga_horaria_total }} hora{{ carga_horaria_total|pluralize}} </h4>
                <div class="card-body">
                    <h5 class="card-title">Cursos PFC: {{ carga_horaria_pfc }} hora{{ carga_horaria_pfc|pluralize}} </h5>
                    <h5 class="card-title">Carga Horária Externa Validada: {{ carga_horaria_validada }} hora{{ carga_horaria_validada|pluralize}} </h5>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-12 mb-3 px-3 overflow-scroll border rounded" style="height: 50vh;">
            <div class="d-flex p-2 justify-content-center mb-5"><h3>Lista de Cursos</h3></div>
                <div class="row">
                    <div class="col-6 border-end px-1">
                        <div class="text-center"><h5>Cursos PFC</h5></div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="col-6">Nome do curso</th>
                                <th scope="col" class="col-6">Carga horária</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for inscricao in inscricoes_pfc %}
                            <tr>
                                <th scope="row">{{ inscricao.curso }}</th>
                                <td>{{ inscricao.ch_valida }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6 border-start px-1">
                        <div class="text-center"><h5>Cursos Externos</h5></div>
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" class="col-6">Nome do curso</th>
                                <th scope="col" class="col-6">Carga horária</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for validacao in validacoes_externas %}
                            <tr>
                                <th scope="row">{{ validacao.nome_curso }}</th>
                                <td>{{ validacao.ch_confirmada }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
        
    
{% endblock %}