{% extends 'base.html' %}

{% block content %}
{% include 'parciais/_messages.html' %}
<div class="d-flex p-2 justify-content-center mb-4">
    <h1>Curso: {{curso}}</h1>
</div>
    <div class="row">
        
            {% for usuario_docente in usuarios_docentes %}
                <div class="col-md-2 col-sm-12 d-flex justify-content-center align-items-center">
                    <div class="row d-inline-flex justify-content-center align-items-center p-3 ">
                    <img src="data:image/png;base64,{{ usuario_docente.avatar_base64 }}" border-radius="100px" alt="Avatar" class="img-thumbnail border border-success" style="height: 150px; width: auto; object-fit: cover; border-radius: 10%;">  <!-- Substitua 'nome' pelo campo desejado do usuário -->
                    
                        <div class="d-flex justify-content-center align-items-center">
                            <strong>Instrutor {{ forloop.counter }} </strong>
                        </div>
                    
                    
                </div>
            
        </div>
            {% endfor %}
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <p><strong>Turno:</strong> {{curso.turno}}</p>
                <p><strong>Trilha:</strong> {{curso.trilha}}</p>
                <p><strong>Descrição do Curso:</strong> {{curso.descricao}}</p>
                {% if curso.observacao %}
                    <p><strong>Observação:</strong> {{curso.observacao}}</p>
                {% endif %}
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver Ementa <i class="fa-solid fa-user-chef"></i>
                </button>
            </div>
    </div>
    <div class="row mb-2">
        
        <div class="col-md-4">
            <div class="row d-flex justify-content-center align-items-center">
                <p><strong>Carga Horária:</strong> {{curso.ch_curso}} horas</p>
                <p><strong>Vagas:</strong> {{curso.vagas}}</p>
                <p><strong>Início:</strong> {{curso.data_inicio}}</p>
                <p><strong>Término:</strong> {{curso.data_termino}}</p>
            </div>
            {% for usuario_docente in usuarios_docentes %}
                <div class="row d-flex justify-content-center align-items-center">
                    <p><strong>Instrutor-{{ forloop.counter }}</strong>: {{usuario_docente.nome}}</p>
                </div>
            {% endfor %}
            <div class="row d-flex justify-content-center align-items-center mb-4">
                     {% if not usuario_inscrito %}
                        {% if lotado %}
                            <a href="/inscrever/{{curso.id}}/" 
                            class="btn btn-warning "></i>ENTRAR NA FILA</a>
                        {% else %}
                            <a href="/inscrever/{{curso.id}}/" 
                            class="btn btn-success "></i>INSCREVER-SE</a>
                        {% endif %}
                        
                    {% endif %}
                    
                    
            </div>
        </div>
            <div class="col-md-6">
                
            </div>
        </div>
            
            
        
    

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="true" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Ementa do Curso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{curso.ementa_curso | safe | linebreaksbr}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}