{% extends 'base.html' %}

{% block content %}
{% include 'parciais/_messages.html' %}
<div class="d-flex p-2 justify-content-center mb-5"><h1>Curso: {{curso}}</h1></div>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-sm-12">
            {% for usuario_docente in usuarios_docentes %}
                <div class="row d-flex justify-content-center align-items-center p-3">
                    <img src="data:image/png;base64,{{ usuario_docente.avatar_base64 }}" alt="Avatar" class="img-thumbnail">  <!-- Substitua 'nome' pelo campo desejado do usuário -->
                </div>
            {% endfor %}
            
        </div>
        <div class="col-md-5">
            <div class="row d-flex justify-content-center align-items-center">
                <p><strong>Carga Horária:</strong> {{curso.ch_curso}} horas</p>
                <p><strong>Vagas:</strong> {{curso.vagas}}</p>
                <p><strong>Início:</strong> {{curso.data_inicio}}</p>
                <p><strong>Término:</strong> {{curso.data_termino}}</p>
            </div>
            {% for usuario_docente in usuarios_docentes %}
                <div class="row d-flex justify-content-center align-items-center">
                    <p><strong>Instrutor-{{ forloop.counter }}</strong>: {{usuario_docente.nome}}</p>
                </div>
            {% endfor %}
        </div>
            <div class="col-md-5">
                <p><strong>Descrição do Curso:</strong> {{curso.descricao}}</p>
                <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Ver Ementa
                </button>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-md-2 col-sm-12 mb-2"></div>
                <div class="col-xl-5 col-sm-12 mb-2">
                    {% if read_only != "0" %}
                        <a href="/inscrever/{{curso.id}}/" class="btn btn-success ">INSCREVER-SE</a>
                    {% endif %}
                </div>
                <div class="col-xl-5 col-sm-12 mb-2">
                    {% if user.role == "ADMIN" %}
                        <a href="/generate_all_pdfs/{{curso.id}}/" class="btn btn-success">GERAR CERTIFICADOS</a>
                    {% endif %}
                </div>
            </div>
            
        
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="true" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Ementa do Curso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{curso.ementa_curso | safe}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}