{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'parciais/_messages.html' %}


<div class="container d-flex justify-content-center bg-gradient pt-3" 
        style="background-color: rgb(112,44,249); height: 20vh; margin-bottom: -5vh;">
    <h1 style="color: #fdfdfd">Dashboard</h1>
</div>

<div class="container">
    <div class="row d-flex justify-content-between align-items-start">

        <div class="col-md-3  col-12  border rounded zoom my-2" 
            style="height: 15vh; background-color: rgb(250,250,250, 0.8);">
            <div class="row d-flex justify-content-center align-items-center" style="height:100%;">
                <img class="img-fluid " src="{% static 'naruto.png' %}" alt="" style="height: 100%; width: auto;">
                <div class="col"><h5>240 horas-aula entregues</h5></div>
            </div>    
        </div>
        <div class="col-md-3  col-12  border rounded zoom my-2" 
            style="height: 15vh; background-color: rgb(250,250,250, 0.8);">
            <div class="row d-flex justify-content-center align-items-center" style="height:100%;">
                <img class="img-fluid " src="{% static 'nerd-diploma.png' %}" alt="" 
                    style="height: 100%; width: auto;">
                <div class="col"><h5>40 inscrições concluídas</h5></div>
            </div>    
        </div>
        <div class="col-md-3  col-12  border rounded zoom my-2" 
            style="height: 15vh; background-color: rgb(250,250,250, 0.8);">
            <div class="row d-flex justify-content-center align-items-center" style="height:100%;">
                <img class="img-fluid " src="{% static 'quadro.png' %}" alt="" style="height: 100%; width: auto;">
                <div class="col"><h5>10 cursos ministrados</h5></div>
            </div>    
        </div>
        
    </div>
</div>
{% endblock %}