{% extends 'base.html' %}

{% block content %}
{% include 'parciais/_messages.html' %}

<div class="d-flex p-2 justify-content-center mb-5"><h1>VALIDAR CARGA HORÁRIA</h1></div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="col-md-4 form-floating mb-3">
            <input type="input" class="form-control" name="nome_curso" id="nome_curso_id" required>
            <label for="nome_curso_id" >Nome do Curso Para Validação</label>
        </div>
        <div class="col-md-4 form-floating mb-3">
            <input type="input" class="form-control" name="ch_solicitada" id="ch_solicitada_id" required>
            <label for="ch_solicitada_id" >Carga Horária Solicitada</label>
        </div>
        <div class="col-md-4 form-floating mb-3">
            <input type="date" class="form-control" name="data_inicio"  id="id_data_inicio" required>
            <label for="id_data_inicio" >Data de Início do Curso</label>
        </div>
        <div class="col-md-4 form-floating mb-3">
            <input type="date" class="form-control" name="data_termino"  id="id_data_termino" required>
            <label for="id_data_termino" >Data de Término do Curso</label>
        </div>
        <div class="col-md-4 form-floating mb-3">
            <input type="input" class="form-control" name="instituicao_promotora" id="instituicao_promotora_id" required>
            <label for="instituicao_promotora_id" >Instituição Promotora</label>
        </div>
        <div class="col-md-4 form-floating mb-3">
            <textarea class="form-control" name="ementa" id="ementa_id" rows="4"  required></textarea>
            <label for="ementa_id" >Ementa</label>
        </div>
        <div class="col-md-4  mb-3 form-check">
            <input class="form-check-input" type="checkbox" value="sim" id="agenda_pfc_id" name="agenda_pfc">
            <label class="form-check-label" for="agenda_pfc_id">
                Ficou sabendo pela agenda PFC?
            </label>
        </div>
        <div class="input-group input-group-md mb-3 mr-3 mt-3">
            <div class="col-md-4 col-9 input-group-md">
                <input type="file" class="form-control" id="inputGroupFile02" name="arquivo_pdf" accept=".pdf" title="Escolha um Arquivo" required>
            </div>
            <button class="input-group-text btn-primary" for="inputGroupFile02" type="submit">Enviar</button>
            
        </div>
    </form>

{% endblock %}