{% extends 'base.html' %}

{% block content %}
{% include 'parciais/_messages.html' %}
    <div class="d-flex p-2 justify-content-center mb-5"><h1>MINHAS INSCRIÇÕES</h1></div>
    <div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col" class="text-center">NOME DO CURSO</th>
            <th scope="col" class="text-center">STATUS DO CURSO</th>
            <th scope="col" class="text-center">CARGA HORÁRIA</th>
            <th scope="col" class="text-center">CONCLUÍDO</th>
            <th scope="col" class="text-center">STATUS DA INSCRIÇÃO</th>
            <th scope="col" style="width: 150px;" class="text-center">AVALIAR</th>
            <th scope="col" class="text-center">CERTIFICADO</th>

          </tr>
        </thead>
        <tbody>
            {% for inscricao in inscricoes %}
                <tr>
                    <th scope="row">{{ inscricao.id }}</th>
                    <td>{{ inscricao.curso.nome_curso }}</td>
                    <td class="text-center">{{ inscricao.curso.status.nome }}</td>
                    <td class="text-center">{{ inscricao.ch_valida }}</td>
                    {% if  inscricao.concluido %}
                        <td class="text-center">SIM</td>
                    {% else %}
                        <td class="text-center">NÃO</td>
                    {% endif %}
                    <td class="text-center">{{ inscricao.status }}</td>  
                    
                        {% if  inscricao.curso.periodo_avaliativo %}
                            {% if  inscricao.curso.status.nome == "FINALIZADO" and inscricao.concluido  %}
                                {% if  inscricao.curso_avaliado %}
                                    <td class="text-center"><a href="#" class="btn btn-secondary">CURSO AVALIADO</a></td>
                                {% else %}
                                    <td class="text-center"><a href="/avaliacao/{{ inscricao.curso.id }}" class="btn btn-primary">AVALIAR CURSO</a></td>
                                {% endif %}
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        {% else %}
                            {% if  inscricao.status.nome == "APROVADA" or inscricao.status.nome == "PENDENTE" %}
                                {% if  inscricao.curso.status.nome == "A INICIAR" or inscricao.curso.status.nome == "INICIADO" %}
                                    <td class="text-center"><a href="/inscricao_cancelar/{{ inscricao.id }}" class="btn btn-danger"><i class="bi bi-x-circle"></i> INSCRIÇÃO</a></td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            {% else %}
                                <td>-</td> 
                            {% endif %}
                            
                        {% endif %}
                   
                    {% if  inscricao.curso.status.nome == "FINALIZADO" and inscricao.concluido  %}
                        <td class="text-center"><a href="{% url 'generate_all_pdfs' curso_id=inscricao.curso.id unico=1 %}" class="btn btn-primary">BAIXAR CERTIFICADO</a></td>
                    {% endif %}
                </tr>
            {% empty %}
                <p>Você não tem inscrições.</p>
            {% endfor %}
          
        </tbody>
      </table>
    </div>

{% endblock %}

