{% extends 'base.html' %}

{% block content %}
{% include 'parciais/_messages.html' %}
    <div class="d-flex p-2 justify-content-center mb-4"><h1>MEUS CURSOS</h1></div>
    <div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col" class="text-center">NOME DO CURSO</th>
            <th scope="col" class="text-center">STATUS DO CURSO</th>
            <th scope="col" class="text-center">CARGA HORÁRIA</th>
            <th scope="col" class="text-center">CONCLUÍDO</th>
            <th scope="col" class="text-center">STATUS DA INSCRIÇÃO</th>
            <th scope="col" style="width: 150px;" class="text-center">AÇÃO</th>
            <th scope="col" style="width: 180px;" class="text-center">CERTIFICADO</th>

          </tr>
        </thead>
        <tbody>
            {% for inscricao in inscricoes %}
                <tr>
                    <th scope="row">{{ inscricao.id }}</th>
                    <td>{{ inscricao.curso.nome_curso }}</td>
                    <td class="text-center">{{ inscricao.curso.status.nome }}</td>
                    <td class="text-center">{{ inscricao.ch_valida }}</td>
                    {% if  inscricao.concluido %}
                        <td class="text-center">SIM</td>
                    {% else %}
                        <td class="text-center">NÃO</td>
                    {% endif %}
                    <td class="text-center">{{ inscricao.status }}</td>  
                    
                        {% if  inscricao.curso.periodo_avaliativo and inscricao.condicao_na_acao == 'DISCENTE' %}
                            {% if  inscricao.curso.status.nome == "FINALIZADO" and inscricao.concluido  %}
                                {% if  inscricao.curso_avaliado %}
                                    <td class="text-center"><a href="#" 
                                                            class="btn btn-secondary"
                                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Curso já avaliado"
                                                            >AVALIADO</a></td>
                                {% else %}
                                    <td class="text-center"><a href="/avaliacao/{{ inscricao.curso.id }}" 
                                                            class="btn btn-primary"
                                                            data-bs-toggle="tooltip" data-bs-placement="top" title="Avaliar curso"
                                                            >AVALIAR</a></td>
                                {% endif %}
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        {% else %}
                            {% if  inscricao.status.nome == "APROVADA" or inscricao.status.nome == "PENDENTE" %}
                                {% if  inscricao.curso.status.nome == "A INICIAR" or inscricao.curso.status.nome == "INICIADO" %}
                                    <td class="text-center">
                                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Cancela a inscrição neste curso">
                                        <button type="button" class="btn btn-danger" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#cancelar{{ forloop.counter }}"
                                        ><i class="bi bi-x-circle"></i> CANCELAR
                                        </button>
                                    </span>
                                    </td>
                                    <!-- Modal -->
                                    <div class="modal fade" id="cancelar{{ forloop.counter }}" data-bs-backdrop="true" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="cancelarLabel">Deseja cancelar a inscrição?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                            <p>Caso você mude de ideia terá que falar com os administradores.</p>
                                            <p></p>
                                            <p></p>
                                            <p>Tem certeza?</p>
                                            <p><a href="{% url 'cancelar_inscricao' inscricao.id %}" class="btn btn-danger">CANCELAR INSCRIÇÃO</a></p>
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                            {% else %}
                                <td>-</td> 
                            {% endif %}
                            
                        {% endif %}
                    {% if  inscricao.curso.eh_evento %}
                        {% if  inscricao.curso.status.nome == "FINALIZADO" and inscricao.concluido %}
                            <td class="text-center">
                                <a href="{% url 'generate_all_pdfs' curso_id=inscricao.curso.id unico=1 %}" 
                                class="btn btn-primary"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Baixa seu certificado">
                                <i class="bi bi-download"></i> CERTIFICADO</a>
                            </td>
                        {% endif %}
                    {% else %}

                        {% if  inscricao.curso.status.nome == "FINALIZADO" and inscricao.concluido and inscricao.curso.inst_certificadora.nome == 'IGPE' and inscricao.curso_avaliado  %}
                            <td class="text-center">
                                <a href="{% url 'generate_all_pdfs' curso_id=inscricao.curso.id unico=1 %}" 
                                class="btn btn-primary"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Baixa seu certificado">
                                <i class="bi bi-download"></i> CERTIFICADO</a>
                            </td>
                        {% elif inscricao.curso.status.nome == "FINALIZADO" and inscricao.concluido and inscricao.curso.inst_certificadora.nome == 'IGPE' and inscricao.condicao_na_acao == 'DOCENTE'%}
                            <td class="text-center">
                                <a href="{% url 'generate_all_pdfs' curso_id=inscricao.curso.id unico=1 %}" 
                                class="btn btn-primary"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="Baixa seu certificado">
                                <i class="bi bi-download"></i> CERTIFICADO</a>
                            </td>
                        
                        {% endif %}
                    {% endif %}
                    
                </tr>
            {% empty %}
                <p>Você não tem inscrições.</p>
                  
            {% endfor %}
          
        </tbody>
      </table>
    </div>

{% endblock %}

