{% extends 'base.html' %}

{% block content %}
<div class="d-flex p-2 justify-content-center mb-5"><h1>ESCOLHA UM CURSO</h1></div>
<div class="table-responsive">
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">ID</th>
        <th scope="col" class="text-center">NOME DO CURSO</th>
        <th scope="col" class="text-center">CARGA HORÁRIA</th>
        <th scope="col" class="text-center">VAGAS</th>
        <th scope="col" class="text-center">INSCRITOS</th>
        <th scope="col" class="text-center">DATA DO INÍCIO</th>
        <th scope="col" class="text-center">DATA DO TÉRMINO</th>
        <th scope="col" class="text-center">STATUS</th>
        <th scope="col" class="text-center">-</th>
      </tr>
    </thead>
    <tbody>
        {% for curso in cursos %}
            <tr>
                <th scope="row" class="text-center">{{ curso.id }}</th>
                <td>{{ curso.nome_curso }}</td>
                <td class="text-center">{{ curso.ch_curso }}</td>
                <td class="text-center">{{ curso.vagas }}</td>
                <td class="text-center">{{ curso.num_inscricoes }}</td>
                <td>{{ curso.data_inicio }}</td>
                <td>{{ curso.data_termino }}</td>
                <td class="text-center">{{ curso.status }}</td>
                {% if curso.num_inscricoes >= curso.vagas %}
                    <td class="text-center"><button type="button" class="btn btn-warning">ENTRAR NA FILA</button></td>
                {% else %}
                    <td class="text-center"><button type="button" class="btn btn-success">INSCREVER</button></td>
                {% endif %}
                
            </tr>
        {% endfor %}
      
    </tbody>
  </table>
</div>

{% endblock %}