{% extends 'base.html' %}

{% block content %}
{% include 'parciais/_messages.html' %}
<div class="d-flex p-2 justify-content-center mb-5"><h1>ESCOLHA UM CURSO</h1></div>
<div class="row">
{% for curso in cursos %}
<div class="col-sm-4">
<div class="card border-secondary mb-3 mt-3 shadow position-relative">
  {% if curso.num_inscricoes >= curso.vagas %}
    <span class="position-absolute top-0 end-0 badge bg-danger p-2">Lotado</span>
  {% endif %}

  <div class="card-body">
      <h6 class="card-title">
          <strong>{{ curso.nome_curso.upper }}</strong>
      </h6>
      <p class="card-text">
        <i class="bi bi-pencil-square"></i>
        <small class="text-muted"><strong>Descrição: </strong> {{curso.descricao}}</small>
      </p>
      <p class="card-text">
        <i class="bi bi-journal-bookmark"></i>
        <small class="text-muted"><strong>Carga Horária:</strong> {{curso.ch_curso}}h</small>
      </p>
      <p class="card-text">
        <i class="bi bi-calendar-check"></i>
        <small class="text-muted"><strong>Início:</strong> {{curso.data_inicio}}</small>
      </p>
      
      <div class="btn-toolbar justify-content-between">
          <div class="text-left mr-2">
            {% if curso.usuario_inscrito %}
            <a href="#" class="btn btn-secondary position-relative">
              <i class="fa-solid fa-circle-check"></i>  INSCRITO
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{curso.num_inscricoes}}/{{curso.vagas}}
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>
          {% else %}
          {% if curso.status.nome == "A INICIAR" %}
            
              {% if curso.num_inscricoes >= curso.vagas %}
                    <a href="/curso_detail/{{ curso.id }}" class="btn btn-warning">ENTRAR NA FILA</a>
              {% else %}
                    <a href="/curso_detail/{{ curso.id }}" class="btn btn-success position-relative">
                      <i class="fa-solid fa-pen-to-square"></i>  INSCREVER
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{curso.num_inscricoes}}/{{curso.vagas}}
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </a>
              {% endif %}   
            
               
          {% endif %}      
          {% endif %}      
          </div>
          <div class="text-right">
            <a href="#" class="btn btn-outline-secondary"><i class="bi bi-hourglass-split"></i>  STATUS: {{ curso.status }}</a>
          </div>
      </div>
  </div>
</div>
</div>
{% endfor %}
</div>

{% endblock %}