{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'parciais/_messages.html' %}
<div class="d-flex w-100 justify-content-center mt-3">
<div class=" col-md-3 col-12">
  <form method="POST" action="{% url 'login' %}">
        
        {% csrf_token %}

        <img class="mb-1 mx-auto d-block" src="{% static 'pfc_app/logos/Logo2024-180x180.png' %}" alt="" width="auto" height="150">
        <h1 class="h3 mb-3 fw-normal text-center">Faça o login</h1>

        <div class="form-floating">
        <input type="input" name="usuario" id="usuario_id" class="form-control mt-3" required autofocus>
        <label for="usuario_id">Digite seu CPF</label>
        </div>
        <div class="form-floating">
        <input type="password" name="senha" id="senha_id" class="form-control" required>
        <label for="senha_id">Digite sua senha</label>
        </div>

        <a href="{% url 'reset_password_request' %}" style="color: red; text-decoration: none !important;"><p>
          <i class="bi bi-incognito"></i>
          <strong><small> 
            
            Esqueci minha senha
          </small></strong></p>
        </a>

        <div class="d-flex justify-content-between">
          <button class="btn btn-md btn-primary btn-block mt-3 mb-3" type="submit">Entrar</button>
          <a href="{% url 'registrar' %}" class="btn btn-md btn-outline-secondary
          btn-block mt-3 mb-3">
          Solicitar login
          </a>
        </div>
      
 </form>
</div>
</div>



{% endblock %}

