{% extends 'base.html' %}

{% block content %}
{% include 'parciais/_messages.html' %}

<div class="d-flex p-2 justify-content-center mb-5"><h1>VALIDAR CARGA HORÁRIA</h1></div>
<div class="row">
    <div class="col-md-5 col-12">
        
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
                
                <div class=" form-floating mb-3">
                    <input type="input" class="form-control" style="background-color: #f5f5f5;" name="nome_curso" id="nome_curso_id" required>
                    <label for="nome_curso_id" >Nome do Curso Para Validação</label>
                </div>
                <div class=" form-floating mb-3">
                    <input type="number" class="form-control" style="background-color: #f5f5f5;" name="ch_solicitada" id="ch_solicitada_id" required>
                    <label for="ch_solicitada_id" >Carga Horária Solicitada</label>
                </div>
                <div class=" form-floating mb-3">
                    <select class="form-control" style="background-color: #f5f5f5;" name="condicao_acao" id="id_condicao_acao">
                        {% for codigo, nome in opcoes %}
                            <option value="{{ codigo }}">{{ nome }}</option>
                        {% endfor %}
                    </select>
                    <label for="id_condicao_acao">Selecione uma Opção</label>
                </div>
                <div class=" form-floating mb-3">
                    <select class="form-control" style="background-color: #f5f5f5;" name="carreira" id="id_carreira">
                        {% for carreira in carreiras %}
                            <option value="{{ carreira.id }}">{{ carreira.sigla }}</option>
                        {% endfor %}
                    </select>
                    <label for="id_carreira">Escolha a Carreira</label>
                </div>
                <div class=" form-floating mb-3">
                    <select class="form-control" style="background-color: #f5f5f5;" name="modalidade" id="id_modalidade">
                        {% for modalidade in modalidades %}
                            <option value="{{ modalidade.id }}">{{ modalidade.nome }}</option>
                        {% endfor %}
                    </select>
                    <label for="id_modalidade">Escolha a Modalidade</label>
                </div>
                <div class=" form-floating mb-3">
                    <select class="form-control" style="background-color: #f5f5f5;" name="categoria" id="id_categoria">
                        {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                        {% endfor %}
                    </select>
                    <label for="id_categoria">Escolha a Categoria</label>
                </div>
                <div class=" form-floating mb-3">
                    <input type="date" class="form-control" style="background-color: #f5f5f5;" name="data_inicio"  id="id_data_inicio" required>
                    <label for="id_data_inicio" >Data de Início do Curso</label>
                </div>
                <div class=" form-floating mb-3">
                    <input type="date" class="form-control" style="background-color: #f5f5f5;" name="data_termino"  id="id_data_termino" required>
                    <label for="id_data_termino" >Data de Término do Curso</label>
                </div>
                <div class=" form-floating mb-3">
                    <input type="input" class="form-control" style="background-color: #f5f5f5;" name="instituicao_promotora" id="instituicao_promotora_id" required>

                    <label for="instituicao_promotora_id" >Instituição Promotora</label>
                </div>
                <div class=" form-floating mb-3">
                    <textarea rows="3" class="form-control" style="background-color: #f5f5f5;" name="ementa" id="ementa_id" required ></textarea>
                    <label for="ementa_id" >Ementa</label>
                </div>

                <div class="d-flex justify-content-between mt-5">
                    <div>
                        <label >Conhecimento Prévio:</label>
                    </div>
                    <div>
                        <div class="form-check form-check-inline mb-3">
                            <input class="form-check-input" type="radio" name="conhecimento_previo" required id="nota_previo_1" value=1>
                            <label class="form-check-label" for="nota1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="conhecimento_previo" required id="nota_previo_2" value=2>
                            <label class="form-check-label" for="nota2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="conhecimento_previo" required id="nota_previo_3" value=3>
                            <label class="form-check-label" for="nota3">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="conhecimento_previo" required id="nota_previo_4" value=4>
                            <label class="form-check-label" for="nota4">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="conhecimento_previo" required id="nota_previo_5" value=5>
                            <label class="form-check-label" for="nota5">5</label>
                        </div>
                    </div>
                </div>


                <div class="d-flex justify-content-between">
                    <div>
                        <label >Conhecimento Posterior:</label>
                    </div>
                    <div>
                        <div class="form-check form-check-inline mb-3">
                            <input class="form-check-input" type="radio" name="conhecimento_posterior" required id="nota_posterior_1" value=1>
                            <label class="form-check-label" for="nota1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="conhecimento_posterior" required id="nota_posterior_2" value=2>
                            <label class="form-check-label" for="nota2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="conhecimento_posterior" required id="nota_posterior_3" value=3>
                            <label class="form-check-label" for="nota3">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="conhecimento_posterior" required id="nota_posterior_4" value=4>
                            <label class="form-check-label" for="nota4">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="conhecimento_posterior" required id="nota_posterior_5" value=5>
                            <label class="form-check-label" for="nota5">5</label>
                        </div>
                    </div>
                </div>
                    
                
                <div class="d-flex justify-content-between">
                    <div>
                        <label >Você indicaria este curso? </label>
                    </div>
                    <div>
                        <div class="form-check form-check-inline mb-5">
                            <input class="form-check-input" type="radio" name="voce_indicaria" required id="voce_indicaria_1" value=1>
                            <label class="form-check-label" for="nota1">1</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="voce_indicaria" required id="voce_indicaria_2" value=2>
                            <label class="form-check-label" for="nota2">2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="voce_indicaria" required id="voce_indicaria_3" value=3>
                            <label class="form-check-label" for="nota3">3</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="voce_indicaria" required id="voce_indicaria_4" value=4>
                            <label class="form-check-label" for="nota4">4</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="voce_indicaria" required id="voce_indicaria_5" value=5>
                            <label class="form-check-label" for="nota5">5</label>
                        </div>
                    </div>
                </div>

                <div class="  mb-3 form-check">
                    <input class="form-check-input" type="checkbox" value="sim" id="agenda_pfc_id" name="agenda_pfc">
                    <label class="form-check-label" for="agenda_pfc_id">
                        Ficou sabendo pela agenda PFC?
                    </label>
                </div>
                <div class="input-group input-group-md mb-3 mt-3">
                    <div class="col input-group-md">
                        <input type="file" class="form-control" id="inputGroupFile02" name="arquivo_pdf" accept=".pdf" title="Escolha um Arquivo" required>
                    </div>
                    <button class="input-group-text btn-primary" for="inputGroupFile02" type="submit">ENVIAR</button>
                    
                </div>
            
        </form>
    </div>
    <div class="col-md-7 col-12 overflow-scroll border rounded" style="height: 60vh;">
        <div class="d-flex p-2 justify-content-center mb-5"><h3>Validações enviadas</h3></div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome do curso</th>
                <th scope="col">Instituição promotora</th>
                <th scope="col">Carga horária solicitada</th>
                <th scope="col">Carga horária validada</th>
                <th scope="col">Situação</th>
              </tr>
            </thead>
            <tbody>
            {% for validacao in validacoes %}
              <tr>
                <th scope="row">{{ validacao.nome_curso }}</th>
                <td>{{ validacao.instituicao_promotora }}</td>
                <td>{{ validacao.ch_solicitada }}</td>

                <td>{{ validacao.ch_confirmada|default:0 }}</td>
                <td>{{ validacao.status }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% endblock %}