{% load bootstrap5 %}

<!--_footer.html-->
<!--<div class="position-fixed bottom-0 col-12">-->
<footer class="footer mt-auto py-3 navbar-dark" style="background-color: #0C5283;">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-left">Powered by Django</p>
            </div>
            <div class="col">
                <p class="text-right">Made By Giba Trindade</p>
            </div>
        </div>
    </div>
</footer>
<!--</div>-->
<!--/_footer.html-->
{% bootstrap_javascript %}
<script>
        function deleteFunction(e) {
            if(!confirm("Tem certeza que deseja excluir esse item?")){
                e.preventDefault();
            }
        }

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
</script>
