{% load bootstrap5 %}

<!--_footer.html-->
<!--<div class="position-fixed bottom-0 col-12">-->
<footer class="footer mt-auto py-3 navbar-light border-top" style="background-color: #f5f5f5;">
   
        <div class="row " >
            <div class="d-flex col justify-content-center">
                <p class="text-right">Made By Gib@</p>
            </div>
        </div>
    
</footer>
<!--</div>-->
<!--/_footer.html-->
{% bootstrap_javascript %}
<script>
        function deleteFunction(e) {
            if(!confirm("Tem certeza que deseja excluir esse item?")){
                e.preventDefault();
            }
        }

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
</script>
