{% load bootstrap5 %}

<!--_footer.html-->
<!--<div class="position-fixed bottom-0 col-12">-->
<footer class="footer mt-auto py-3 navbar-light" style="background-color: #f5f5f5;">
    
        <div class="row">
            <div class="d-flex justify-content-end col">
                <div class="mx-5">
                    <img src="/media/PFC1.png" alt="" style="height: 6vh; width: auto;">
                </div>
            </div>
        </div>
    
</footer>
<!--</div>-->
<!--/_footer.html-->
{% bootstrap_javascript %}
<script>
        function deleteFunction(e) {
            if(!confirm("Tem certeza que deseja excluir esse item?")){
                e.preventDefault();
            }
        }

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
</script>
