<!--_head.html-->
{% load static %}
<title>PFC APP</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>


    {% load bootstrap5 %}
    {% bootstrap_css %}
<style>
.textColor {
        color: #2a5a94;
    }
#verticalbar {
        height: 40px;
        width: 1px;
        background: #97a2b0;
    }
.changeWidth {
            width: 36px;
        }

        .iconChange:after {
            content: "";
            display: block;
            margin: auto;
            height: 3px;
            width: 0px;
            background: transparent;
            transition: all 0.5s ease;
        }

        .iconChange:hover::after {
            width: 100%;
            background: #0d6efd;
        }

        .iconHeight {
            height: 22px;
            width: 22px;
        }

        .iconChange:hover a {
            color: #0d6efd;
        }

        .iconChange img {
            transition: all 500ms;
        }

        .iconChange:hover img {
            transform: translateX(-180%);
            transform-origin: right;
            transition: transform 500ms ease-in-out;
        }

        .smallFont {
            font-size: 15px;
        }
</style>
<!--/_head.html-->