<!--_nav.html-->
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light static-top p-0 align-items-center border-bottom shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">
            <img src="/media/igpe.png" alt="" width="60" height="60">
        </a>
        <div id="verticalbar" class="mx-xxl-2 mx-1 d-none d-lg-inline-block"></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarResponsive">
                <ul class="d-flex list-unstyled navbar-nav mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                
                    {% if user.role == "ADMIN" %}
                        <li class="nav-item iconChange  me-4 pt-2">
                            <a class="nav-link text-center  p-0" href="/admin/">
                                <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                
                                    <img class="one iconHeight mx-2" src="{% static 'pfc_app/icones/android2.svg' %}" alt="android2">
                                    <img class="two iconHeight mx-2" src="{% static 'pfc_app/icones/android.svg' %}"
                                        alt="android">
                                </div>
                                <div class="smallFont textColor">Admin</div>
                            </a>
                        </li>
                        <li class="nav-item iconChange  me-4 pt-2">
                            <a class="nav-link text-center  p-0" href="{% url 'usuarios_sem_ch' %}">
                                <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                
                                    <img class="one iconHeight mx-2" src="{% static 'pfc_app/icones/people.svg' %}" alt="android2">
                                    <img class="two iconHeight mx-2" src="{% static 'pfc_app/icones/people-fill.svg' %}"
                                        alt="android">
                                </div>
                                <div class="smallFont textColor">Lista Usuários</div>
                            </a>
                        </li>
                        
                    {% endif %}
                    {% comment %}
                    <li class="nav-item iconChange  me-4 pt-2">
                        <a class="nav-link text-center  p-0" href="{% url 'dashboard' %}">
                            <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                            
                                <img class="one iconHeight mx-2" src="{% static 'pfc_app/icones/graph-down-arrow.svg' %}" alt="android2">
                                <img class="two iconHeight mx-2" src="{% static 'pfc_app/icones/graph-up-arrow.svg' %}"
                                    alt="android">
                            </div>
                            <div class="smallFont textColor">Dashboard</div>
                        </a>
                    </li>
                    {% endcomment %}
                    <li class="nav-item iconChange  me-4 pt-2">
                        <a href="{% url 'lista_cursos' %}" class="nav-link text-center  p-0">
                            <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                
                                <img class="one iconHeight mx-2" src="{% static 'pfc_app/icones/book.svg' %}" alt="book">
                                <img class="two iconHeight mx-2" src="{% static 'pfc_app/icones/book-half.svg' %}"
                                    alt="book-half">
                            </div>
                            <div class="smallFont textColor">Inscrições Abertas</div>
                        </a>
                    </li>
                    <li class="nav-item iconChange  me-4 pt-2">
                        <a class="nav-link text-center  p-0" href="{% url 'validar_ch' %}">
                            <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                
                                <img class="one iconHeight mx-2" src="{% static 'pfc_app/icones/send-check.svg' %}" alt="enviar">
                                <img class="two iconHeight mx-2" src="{% static 'pfc_app/icones/send-check-fill.svg' %}"
                                    alt="enviar-half">
                            </div>
                            <div class="smallFont textColor">Validar Carga Horária</div>
                              
                        </a>
                    </li>
    
                    <li class="nav-item iconChange  me-4 pt-2">
                        <a class="nav-link text-center  p-0" href="{% url 'inscricoes' %}">
                            <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                
                                <img class="one iconHeight mx-2" src="{% static 'pfc_app/icones/mortarboard.svg' %}" alt="mortarboard">
                                <img class="two iconHeight mx-2" src="{% static 'pfc_app/icones/mortarboard-fill.svg' %}"
                                    alt="mortarboard-half">
                            </div>
                            <div class="smallFont textColor">Meus Cursos</div> 
                        </a>
                    </li>
                    
                    <li class="nav-item iconChange  me-4 pt-2">
                        <a class="nav-link text-center  p-0" href="{% url 'carga_horaria' %}"> 
                            <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                
                                <img class="one iconHeight mx-2" src="{% static 'pfc_app/icones/bar-chart-line.svg' %}" alt="bar-chart-line">
                                <img class="two iconHeight mx-2" src="{% static 'pfc_app/icones/bar-chart-line-fill.svg' %}"
                                    alt="bar-chart-line-fill">
                            </div>
                            <div class="smallFont textColor">Minha Carga Horária</div> 
                        </a>
                    </li>
    
                    <li class="nav-item dropdown iconChange  me-4 pt-2">
                        <a class="nav-link text-center  p-0 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                
                                <img class="one iconHeight mx-2" src="{% static 'pfc_app/icones/person-check.svg' %}" alt="person-check">
                                <img class="two iconHeight mx-2" src="{% static 'pfc_app/icones/person-fill-check.svg' %}"
                                    alt="person-check-fill">
                            </div>
                            <div class="smallFont textColor">{{user.username}}</div> 
                           
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'change_password' %}">Alterar Senha</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
                        </ul>
                    </li>
                    {% else %}
                    {% comment %}
                        <li class="nav-item iconChange  me-4 pt-2">
                            <a class="nav-link text-center  p-0" href="{% url 'dashboard' %}">
                                <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                
                                    <img class="one iconHeight mx-2" src="{% static 'pfc_app/icones/graph-down-arrow.svg' %}" alt="android2">
                                    <img class="two iconHeight mx-2" src="{% static 'pfc_app/icones/graph-up-arrow.svg' %}"
                                        alt="android">
                                </div>
                                <div class="smallFont textColor">Dashboard</div>
                            </a>
                        </li>
                        
                        <li class="nav-item iconChange  me-4 pt-2">
                            <a class="nav-link text-center  p-0" href="{% url 'login' %}">
                                <div class=" d-flex align-items-center overflow-hidden changeWidth mx-auto">
                                
                                    <img class="one iconHeight mx-2" src="{% static 'pfc_app/icones/door-closed.svg' %}" alt="android2">
                                    <img class="two iconHeight mx-2" src="{% static 'pfc_app/icones/door-open.svg' %}"
                                        alt="android">
                                </div>
                                <div class="smallFont textColor">Login</div>
                            </a>
                        </li>
                        {% endcomment %}
                    {% endif %}
                </ul>
            </div>
            
        </div>
    
</nav>

<!--/_nav.html-->
