<!DOCTYPE html>
<html lang="pt">

<head>
    
    {% include 'parciais/_head.html' %}

</head>

<body>

{% include 'parciais/_nav.html' %}

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ul>
                {% for x in cursos %}
                  <li><h5>{{ x.nome_curso }} - {{ x.data_termino }}</h5></li>
                {% endfor %}
              </ul>
{% block content %}
{% endblock %}


        </div>
    </div>
</div>

{% include 'parciais/_footer.html' %}
</body>

</html>